nav{
  background: #c58000;
  color: white;
  height: 65px;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav:hover{
  cursor: pointer;
}